---
layout: styleguide_main
---
{% assign prior_folder = "" %}

{% for item in site.styleguide %}
	{% assign path = item.path | split: '/' %}
	{% assign len = path[1] | size %}
	{% assign folder = path[1] | slice: 3, len %}
	
	{% if folder != prior_folder %}
		<h2>{{ folder }}</h2>
	{% endif %}
	{% assign prior_folder = folder %}
	<div class="item">
		<div class="item-info">
			<h3>{{ item.title }}</h3>
			{% if item.info %}<p>{{ item.info }}</p>{% endif %}
		</div>
		<div class="item-controls">
			<ul>
				<li><a href="#" data-for="item-display-{{ forloop.index }}">Code</a>
			</ul>
		</div>
		<div class="item-display" id="item-display-{{ forloop.index }}">
			<div class="rendered active">
			<iframe src="{{item.url}}" onload="setHeight(this)"></iframe>
			</div>
			<div class="code inactive">
			{% highlight html %}{{ item.content }}{% endhighlight %}
			</div>
		</div>
	</div>
{% endfor %}

<script>

function setHeight(frame) {
	console.log(frame)
	frame.style.height = frame.contentWindow.document.body.scrollHeight + "px";
}

links = document.querySelectorAll(".item-controls a");
links.forEach(function(item){
	item.addEventListener("click", function(e){
		id = item.getAttribute("data-for");
		active = document.querySelector("#" + id + " .active")
		inactive = document.querySelector("#" + id + " .inactive")
		active.classList.remove("active");
		active.classList.toggle("inactive");
		inactive.classList.toggle("active");
		inactive.classList.toggle("inactive");
	});
});
</script>