{% if include.page != nil %}
	{% assign date = include.page.date %}
	{% assign draft = include.page.draft %}
{% else %}
	{% assign date = page.date %}
	{% assign draft = page.draft %}
{% endif %}
{% if include.audio == nil %}
	{% assign audio = page.audio %}
{% else %}
	{% assign audio = include.audio %}
{% endif %}
{% if audio.title %}
<h3 class="audiotitle">{{ audio.title }}</h3>
{% endif %}

{% if draft %}
	{% capture path %}/audio/drafts/{{ audio.file }}.wav{% endcapture %}
{% else %}
	{% capture path %}/audio/{{ date | date: "%Y-%m-%d" }}/{{ audio.file }}.mp3{% endcapture %}
{% endif %}

<audio controls preload="none" {% if audio.loop == true %}loop{% endif %}>
<source src="{{path}}">
<a href="{{path}}">Audio file</a>
</audio>

