<footer>
<div>
<h3>Elsewhere</h3>
<ul>
	<!-- social icons from https://www.iconfinder.com/search/?q=iconset:miu-flat-social -->
	<li>
		<a href="https://twitter.com/andrewmalone">
		{% include twitter.svg %}
		@andrewmalone on Twitter</a>
	</li>
	<li>
		<a href="https://www.flickr.com/photos/andrewmalone/">
		{% include flickr.svg %}
		andrewmalone on Flickr</a>
	</li>
	<li>
		<a href="https://pinboard.in/u:andrewmalone">
		{% include pinboard.svg %}
		andrewmalone on Pinboard</a>
	</li>
	<li>
		<a href="http://last.fm/user/andrewmalone/">
		{% include last_fm.svg %}
		andrewmalone on Last.fm</a>
	</li>
	<li>
		<a href="https://github.com/andrewmalone">
		{% include github.svg %}
		andrewmalone on Github</a>
	</li>
</ul>
</div>
<div>
<h3>About this site</h3>
<p>Hi. I'm Andrew, and this is where I put stuff on the web. I don't have an about page yet.</p>
</div>
</footer>