---
layout: default
---
<article>
	<header>
	<h1>{{ page.title }}</h1>
	<time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%b %-d, %Y"}}</time>
	</header>
	
	{% if page.categories.size > 0 %}
		{% if page.categories contains "fragments" and page.summary != true %}
			{% assign posts = site.categories.fragments | sort: 'date' %}
			{% assign posts = posts | sort: 'summary', 'last' %}
			{% for post in posts %}
				{% if post.summary == true %}{% assign url = post.url %}{% endif %}
				{% if post.id == page.id %}
					{% assign num = forloop.index %}
					{% break %}
				{% endif %}
			{% endfor %}
			<aside class="category">
			This is post {{num | minus:1 }} of {{site.categories.fragments.size | minus:1 }} in a series of <a href="{{url}}">fragments</a>
			</aside>
		{% endif %}
	{% endif %}
	
	<div class="content">
	{{ content }}
	</div>
	
	{% if page.tags.size > 0 %}
	<div class="tags">
		Tagged with: {{ page.tags | join: ", " }}
	</div>
	{% endif %}
	
	<div class="pagination">
	{% if page.previous %}<p>Previous: <a href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>{% endif %}
	{% if page.next %}<p>Next: <a href="{{ page.next.url }}">{{ page.next.title }}</a></p>{% endif %}
	</div>
</article>

<script>
var audios = document.getElementsByTagName("audio");
for (var i = 0, len = audios.length; i < len; i++)
{
	audios[i].addEventListener("play", playStarted);
}
function playStarted(e)
{
	var audios = document.getElementsByTagName("audio");
	for (var i = 0, len = audios.length; i < len; i++)
	{
		if (audios[i] !== e.target && !audios[i].paused)
		{
			audios[i].pause();
		}
	}
}	
</script>
