---
layout: default
---
<article>
	<header>
	<h1{% if page.draft %} class="draft"{% endif %}>{{ page.title }}</h1>
	{% unless page.draft %}<time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%b %-d, %Y"}}</time>{% endunless %}
	</header>
	
	{% if page.categories.size == 1 %}
			{% assign c = page.categories[0] %}
			{% assign posts = site.categories[c] | sort: 'date' %}
			{% for post in posts %}
				{% if post.id == page.id %}
					{% assign num = forloop.index %}
					{% break %}
				{% endif %}
			{% endfor %}
			<aside class="category">
			This is post {{num}} of {{site.categories[c].size}} in a series of <a href="/{{c}}">{{site.data.categories[c].name}}</a>
			</aside>
	{% endif %}
	
	<div class="content">
	{{ content }}
	</div>
	
	{% if page.tags.size > 0 %}
	<div class="tags">
		Tagged with: {{ page.tags | join: ", " }}
	</div>
	{% endif %}
	
	<div class="pagination">
	{% if page.previous %}<p>Previous: <a href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>{% endif %}
	{% if page.next %}<p>Next: <a href="{{ page.next.url }}">{{ page.next.title }}</a></p>{% endif %}
	</div>
</article>

<script>
var audios = document.getElementsByTagName("audio");
for (var i = 0, len = audios.length; i < len; i++)
{
	audios[i].addEventListener("play", playStarted);
}
function playStarted(e)
{
	var audios = document.getElementsByTagName("audio");
	for (var i = 0, len = audios.length; i < len; i++)
	{
		if (audios[i] !== e.target && !audios[i].paused)
		{
			audios[i].pause();
		}
	}
}	
</script>
