@import '_includes/reset';
@import '_includes/breakpoints';
@import '_includes/colors';
@import '_includes/fonts';

@import '_includes/components/global';
@import '_includes/components/images';
@import '_includes/components/footer';
@import '_includes/components/header';
@import '_includes/components/post_list';
@import '_includes/components/posts';


.text-small {
	font-size: 80%;
}

p,audio {
	margin:0 0 1em 0;
}

h3 {
	margin-bottom: .5em;
}

.audiotitle {
	font-size: 85%;
}

