---
title: audio player
---
<!--
Liquid tag to render, if there's only one audio file for the post: 
{% raw %}{% include audio.html %}{% endraw %}

yaml looks like this (no extenstion on file name, title is optional):
---
audio:
  file: name_of_file
  title: title to display
---

If there's more than one file:
---
audio1:
  file: first file
audio2:
  file: second file
---
{% raw %}{% include audio.html audio=page.audio1 %}{% endraw %}

-->
<audio controls="" preload="none">
<source src="/audio/2014-05-23/DrumPerfect.mp3">
<a href="/audio/2014-05-23/DrumPerfect.mp3">Audio file</a>
</audio>

<h3 class="audiotitle">This audio has a title</h3>
<audio controls="" preload="none">
<source src="/audio/2014-05-23/DrumPerfect.mp3">
<a href="/audio/2014-05-23/DrumPerfect.mp3">Audio file</a>
</audio>